body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lobster', cursive;
    margin: 0;
}
section{
    display: flex;
    margin-bottom: 100px;
}
p{
    font-size: 24px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
span{
    color: orange;
}
.half-width{
    width: 80%;
    margin: 60px;
    border-radius: 20px;
    
}
.half-width img{
  width: 85%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 5px 40px;
    background-image: -o-linear-gradient(orange, rgb(230, 230, 233));
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.deram-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    border-top: 100px;
}